{% extends 'relecov_core/base.html' %}

{% load static %}
{%load plotly_dash%}

{% block content %}
{% include "relecov_dashboard/sideMenuFuncionality.html" %}

<section>
    <div class="container">
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            {% include "relecov_dashboard/methodologySideBar.html" %}
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">
                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="row"  style="text-align: center">
                            <h1>Bioinfo Dashboard</h1>
                        </div>
                        <hr>
                        <!-- Content Row -->
                        <div class="row" style="text-align: center;">
                            <div class="col-sm-6">
                                {{ bioinfo.boxplot_comparation | safe }}
                            </div> <!--// end col-sm-4 -->
                            <div class="col-sm-6">
                                {{ bioinfo.depth_variants | safe }}
                            </div> <!--// end col-sm-6 -->
                            <div class="col-sm-6">
                                {{ bioinfo.depth_sample_run | safe }}
                            </div> <!--// end col-sm-6 -->
                        </div>  <!-- end row-->
                    </div> <!-- /.container-fluid -->
                </div> <!-- End of Main Content -->
            </div> <!-- End Content wrapper-->
        </div> <!-- wrapper -->
    </div>  <!-- End container -->
</section>
{% endblock %}
