{% extends 'relecov_core/base.html' %}
{% load static %}
{% block content %}

{% include "relecov_dashboard/methodologySideBar.html"%}
<section style="margin-top: 4%">
    <div class="container text-center position-relative" style="width:68%">
        <br>
        <div class="card-header"><h2>Bioinfo dashboard</h2>
            <div class="card-body">
                <div class="row row-space-2 margin-b-4">
                    <div class="col-sm-6">
                        {{ bioinfo.boxplot_comparation | safe }}
                    </div> <!--// end col-sm-4 -->
                    <div class="col-sm-6">
                        {{ bioinfo.depth_variants | safe }}
                    </div> <!--// end col-sm-6 -->
                    <div class="col-sm-6">
                        {{ bioinfo.deep_coverage | safe }}
                    </div> <!--// end col-sm-6 -->

                    
                    <br><br>
                    <p> Gráfico que relacione el depth of coverage value con el number_of_samples_in_run</p>
                    <br><br>
                    <p> Gráfico que relacione el number_of_variants_in_consensus con el depth of coverage value</p>

                </div>  <!-- end row-->
            </div>  <!-- end card body   -->
        </div>  <!-- end card  -->
    </div> <!-- end container-->

</section>
{% endblock %}