{% extends 'relecov_core/base.html' %}
{% load static %}
{% block content %}

{% include "relecov_dashboard/methodologySideBar.html"%}
<section style="margin-top: 4%">
    <div class="container text-center position-relative" style="width:68%">
        <br>
        <div class="card-header"><h2>Sample processing info dashboard</h2>
            <div class="card-body">
                {% if ERROR %}
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-sm-12" >
                            <div class="card  border-danger mb-3">
                                <div class="card-header text-center text-danger"><h3 style="text-align:center">Error when connecting to LIMS</h3> </div>
                                <div class="card-body  text-center">
                                    <br>
                                    <p><strong>{{ERROR.ERROR}}</strong></p>
                                </div> <!-- end card body  -->
                            </div> <!-- end card  -->
                        </div> <!--// end col-sm-9 -->
                    </div> <!--// end row -->
                {% else %}
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-sm-5">
                            {{ sample_processing.nucleic_protocol | safe }}
                        </div> <!--// end col-sm-4 -->
                        <div class="col-sm-7">
                            {{ sample_processing.cts_extraction | safe }}
                        </div> <!--// end col-sm-8 -->
                    </div>  <!-- end row-->
                
                    <div class="row row-space-2 margin-b-4">
                        <div class="col-sm-7">
                            {{ sample_processing.cts_specimen | safe }}
                        </div> <!--// end col-sm-8 -->
                        <div class="col-sm-5">
                            {{ sample_processing.calculation_date | safe }}
                        </div> <!--// end col-sm-4 -->
                    </div> <!--// end row -->
                {% endif %}
            </div>  <!-- end card body   -->
        </div>  <!-- end card  -->
    </div> <!-- end container-->

</section>
{% endblock %}

