{% extends 'relecov_core/base.html' %}

{% load static %}
{%load plotly_dash%}

{% block content %}
{% include "relecov_dashboard/sideMenuFuncionality.html" %}
<section class="hero-animated d-flex">
    <div class="container position-relative">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            {% include "relecov_dashboard/methodologySideBar.html" %}
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- Page Heading -->
                        <div class="row pt-4"  style="text-align: center">
                            <h1>Sample Processing</h1>
                        </div>
                        <hr>
                        <!-- Content Row -->
                        {% if ERROR %}
                        <div class="row justify-content-center p-4" style="text-align: center;">
                                <div class="col-sm-10" >
                                    <div class="card  border-danger mb-3">
                                        <div class="card-header text-center text-danger"><h3 style="text-align:center">Error when connecting to LIMS</h3> </div>
                                        <div class="card-body  text-center">
                                            <br>
                                            <p><strong>{{ERROR.ERROR}}</strong></p>
                                        </div> <!-- end card body  -->
                                    </div> <!-- end card  -->
                                </div> <!--// end col-sm-9 -->
                            </div> <!--// end row -->
                        {% else %}
                            <div class="row" style="text-align: center;">
                                <div class="col-sm-5">
                                    {{ sample_processing.nucleic_protocol | safe }}
                                </div> <!--// end col-sm-4 -->
                                <div class="col-sm-7">
                                    {{ sample_processing.cts_extraction | safe }}
                                </div> <!--// end col-sm-8 -->
                            </div>  <!-- end row-->

                            <div class="row" style="text-align: center;">
                                <div class="col-sm-7">
                                    {{ sample_processing.cts_specimen | safe }}
                                </div> <!--// end col-sm-8 -->
                                <div class="col-sm-5">
                                    {{ sample_processing.calculation_date | safe }}
                                </div> <!--// end col-sm-4 -->
                            </div> <!--// end row -->
                        {% endif %}
                    </div> <!-- /.container-fluid -->
                </div> <!-- End of Main Content -->
            </div> <!-- End Content wrapper-->
        </div> <!-- wrapper -->
    </div>  <!-- End container -->
</section>

{% endblock %}


