<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/methodology">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-speedometer2"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Methodology</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard/methodology/hostInfo">
            <i class="bi bi-grid"></i>
            <span>Host Info</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard/methodology/sampleProcessing">
            <i class="bi bi-menu-button-wide"></i>
            <span>Sample processing</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard/methodology/sequencing">
            <i class="bi bi-grid"></i>
            <span>Sequencing</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard/methodology/bioinfo">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Bioinfo</span></a>
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
        
    </div>
</ul>