<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/variants">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-speedometer2"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Variants</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard/variants/mutationsInLineage">
            <i class="bi bi-bar-chart"></i>
            <span>Mutations in Lineages</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/dashboard/variants/lineagesVoc">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Lineages VOC</span></a>
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>

    </div>
</ul>
