{% extends 'relecov_core/base.html' %}

{% load static %}
{%load plotly_dash%}

{% block content %}
<br><br><br><br><br><br>
<div class="container-fluid" style="text-align: center;">
  <!--header-->
  <div class="card bg-light d-inline-flex p-3 " style="width: 80%;">
    <div class="container-fluid" style="text-align: center;">
      <p class="fs-1 text-uppercase">Variants Dashboard</p>
    </div>
  </div>
  <!---->
  <div class="card border-light d-inline-flex p-2 m-1 variant_index_box_3d" style="width: 40%">
    <h2 class="card-title">Mutations in Lineages</h2>
    <a href="/dashboard/variants/mutationsInLineagesDashboard">
      <img src="{% static 'relecov_dashboard/img/mutation_heatmap.png' %}" class="card-img-top variant_index_img_3d" alt="Mutations in Lineages dashboard" style="width: 70%">
    </a>
  </div>
  <!---->
  <div class="card border-light d-inline-flex p-2 m-1 variant_index_box_3d" style="width: 40%">
    <h2 class="card-title">Lineages</h2>
    <a href="/dashboard/variants/lineagesDashboard">  
      <img src="{% static 'relecov_dashboard/img/lineages_geomap.png' %}" class="card-img-top variant_index_img_3d" alt="molecular 3D" style="width: 72%">
    </a>  
  </div>
  <!---->
  <div class="card border-light d-inline-flex p-2 m-1 variant_index_box_3d" style="width: 40%">
    <h2 class="card-title">Spike mutations</h2>
    <a href="/dashboard/variants/spikeMutations3dDashboard">
      <img src="{% static 'relecov_dashboard/img/molecular3D.png' %}" class="card-img-top variant_index_img_3d" alt="needle plot" style="width:50%">
    </a>
  </div>
  <!---->
  <div class="card border-light d-inline-flex p-2 m-1 variant_index_box_3d " style="width: 40%">
    <h2 class="card-title">Lineages VOC</h2>
    <a href="/dashboard/variants/lineagesVocDashboard">
      <img src="{% static 'relecov_dashboard/img/lineageBarStack.png' %}" class="card-img-top variant_index_img_3d" alt="lineages VOC dashboard" style="width: 70%">
    </a>
  </div>
  <!---->

</div>
<br>

{% endblock %}
