{% extends 'relecov_core/base.html' %}

{% load static %}
{%load plotly_dash%}

{% block content %}
<br><br><br><br><br><br><br><br>


<div class="container-fluid" style="text-align: center;">
    <div class="card d-inline-flex p-2 m-1" style="width: 35%">
        <img src="{% static 'relecov_dashboard/img/lineageBarStack.png' %}" class="card-img-top" alt="needle plot" style="width: 70%">
        <div class="card-body" style="text-align: left;">
          <h5 class="card-title">Lineages VOC</h5>
          <p class="card-text">
            <ul>
              <li><a href="#">Graph by time</a></li>
              <li><a href="#">Graph by Autonomous Community</a></li>
              <li><a href="#">Table to filter and download</a></li>
            </ul>
          </p>
          <!--<a href="/dashboard/variants/lineagesVOC" class="btn btn-primary">Go</a>-->
        </div>
    </div>


    <div class="card d-inline-flex p-2 m-1" style="width: 35%">
            <img src="{% static 'relecov_dashboard/img/lineages_geomap.png' %}" class="card-img-top" alt="molecular 3D" style="width: 70%">
            <div class="card-body" style="text-align: left;">
              <h5 class="card-title">Lineages</h5><!--Hackaton Graphs-->
              <p class="card-text">
                <ul>
                  <li><a href="/dashboard/variants/samplesReceivedOverTimeGraph">Samples received over time Graph</a></li>
                  <li><a href="/dashboard/variants/samplesReceivedOverTimeMap">Samples received over time by CCAA map</a></li>
                  <li><a href="#">Table to filter and download</a></li>
                </ul>
              </p>
              <!--<a href="/dashboard/lineages" class="btn btn-primary">Go</a>-->
            </div>
          </div>

          <div class="card d-inline-flex p-2 m-1" style="width: 35%">
            <img src="{% static 'relecov_dashboard/img/mutation_heatmap.png' %}" class="card-img-top" alt="needle plot" style="width: 70%">
            <div class="card-body" style="text-align: left;">
              <h5 class="card-title">Mutations in Lineages</h5>
              <p class="card-text">
                <ul>
                  <li><a href="/dashboard/variants/mutationsInLineagesBySample">Variant mutations in Lineages search by sample</a></li>
                  <li><a href="/dashboard/variants/mutationsInLineagesByLineage">Variant mutations in Lineages search by lineage</a></li>
                  <li><a href="/dashboard/variants/mutationsInLineagesTable">Variant mutations in lineages filter by table</a></li>
                  <li><a href="/dashboard/variants/mutationsInLineagesHeatmap">Variant mutations in lineages heatmap</a></li>
                </ul>
              </p>
              <!--<a href="/dashboard/molecular3D" class="btn btn-primary">Go</a>-->
              <!--<a href="/dashboard/mutationsInLineages" class="btn btn-primary">Go</a>-->

            </div>
          </div>

          <!---->
          <div class="card d-inline-flex p-2 m-1" style="width: 35%">
            <img src="{% static 'relecov_dashboard/img/molecular3D.png' %}" class="card-img-top" alt="needle plot" style="width:48.2%">
            <div class="card-body" style="text-align: left;">
              <h5 class="card-title">Spike mutations</h5>
              <p class="card-text">
                <ul>
                  <!--<li><a href="/dashboard/variants/uploadStatusToENA/ [name='uploadStatusToENA']spikeMutations3DColor">Tables with graphs</a></li>-->
                  <li>
                    <a href="/dashboard/variants/spikeMutations3DColor">Spike Mutation specific residues</a>
                  </li>
                  <li>
                    <a href="/dashboard/variants/spikeMutations3DBN">Spike Mutation</a>
                  </li>
                </ul>
              </p>
              <!--<a href="/dashboard/spikeMutations" class="btn btn-primary">Go</a>-->
            </div>
    </div>
    <br><br><br><br>

{% endblock %}
