channels==2.4.0
channels-redis==3.4.0
cryptography
django==3.2.17
dash==2.8.1
dash-bootstrap-components==1.2.1
dash-bio==1.0.2
dash-renderer==1.9.1
django_extensions
django-plotly-dash==2.1.3
djangorestframework
django-cleanup==6.0.0
drf-yasg
jsonpointer==2.3
mod_wsgi
mysqlclient==2.1.0
pandas==1.4.1
xlrd==1.2.0
Markdown==3.3.7
django-markdownx==3.0.1
relecov-tools
dash-daq==0.5.0
