<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="Relecov">
        <meta content="" name="COVID">
        <title>Relecov Platform</title>
        <!-- Favicons -->
        <link href="{% static 'core/custom/img/favicon.png' %}" rel="icon">

        <!-- Bootstrap -->
        <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'core/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <!-- <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="{% static 'core/vendor/aos/aos.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap" rel="stylesheet">

        <link href="{% static 'core/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'core/vendor/font_awesome/css/font_awesome.min.css' %}" rel="stylesheet">
        


        <!-- Variables CSS Files. Uncomment your preferred color scheme -->
        <link href="{% static 'core/main_style/css/variables-green2.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'core/main_style/css/main.css' %}" rel="stylesheet">
        <link href="{% static 'core/main_style/css/styles.css' %}" rel="stylesheet">
        <link href="{% static 'dashboard/custom/css/styles_browse_data.css' %}" rel="stylesheet">
        <!--   Jquery scripts   --> 
        <script src="{% static 'core/vendor/jquery/js/jquery-3.6.0.min.js' %}"></script>
        <link href="{% static 'docs/css/docs.css' %}" rel="stylesheet">
    </head>
    <!-- <body style="background-color: white!important;"> -->
    <body>
        <!-- ======= Navbar ======= -->
         {% include "core/navbar.html" %}

                {% block content %}

                {% endblock %}

        {% include "core/footer.html" %}
        <!--end Footer-->

        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'core/vendor/aos/aos.js' %}"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script> -->
        <script>
            AOS.init();
        </script>
        <script src="{% static 'core/vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script src="{% static 'core/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'core/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <!-- Java script for side bar menu -->
        <script src="{% static 'core/custom/js/sideBar_menu.js' %}"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'core/main_style/js/main.js' %}"></script>
    </body>
</html>
