{% load static %}
<!-- ======= Footer ======= -->
<footer>
    <div class="footer-container">
      <div class="footer-section logos">
        <a class="navbar-brand" href="#">
          <img src="{% static 'core/custom/img/relecov_logo.png' %}" alt="Logo" style="height: 130px;">
      </a>
      <a class="navbar-brand" href="#">
        <img src="{% static 'core/custom/img/logo_bu_isciii.png' %}" alt="Logo" style="height: 50px;">
    </a>
      </div>
      <div style="width: 1px; height: 150px; background-color: #ddd; margin: 0 20px;"></div>
      <!-- Section: About -->
      <div class="footer-section">
        <h4>Who we are</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Registered Institutions</a></li>
          <li><a href="#">Contributors</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div style="width: 1px; height: 150px; background-color: #ddd; margin: 0 20px;"></div>
      <!-- Section: Data & Tools -->
      <div class="footer-section">
        <h4>Tools</h4>
        <ul>
          <li><a href="#">Data Browser</a></li>
          <li><a href="#">Variants Dashboard</a></li>
          <li><a href="#">Methodology Dashboard</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Nextrain</a></li>
        </ul>
      </div>
      <div style="width: 1px; height: 150px; background-color: #ddd; margin: 0 20px;"></div>
      <!-- Section: Discover -->
      <div class="footer-section">
        <h4>Docs</h4>
        <ul>
          <li><a href="#">Enlace al doc</a></li>
          <li><a href="#">Enlace al doc</a></li>
          <li><a href="#">Enlace al doc</a></li>
          <li><a href="#">...</a></li>
        </ul>
      </div>
      <div style="width: 1px; height: 150px; background-color: #ddd; margin: 0 20px;"></div>
    </div>
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="redes">
        <a href="#"  aria-label="GitHub">
            <i class="bi bi-github"></i>
        </a>
        <a href="#"  aria-label="Slack">
            <i class="bi bi-slack"></i>
        </a>
        <a href="#"  aria-label="Twitter">
            <i class="bi bi-twitter"></i>
        </a>
        <a href="#"  aria-label="Email">
            <i class="bi bi-envelope"></i>
        </a>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat perspiciatis, ut repudiandae eum dolorum praesentium ducimus excepturi cumque eveniet. Tempora nemo laudantium eos iste dolores veniam voluptatum recusandae exercitationem nobis.
      </p>
      <p>© Copyright 2025 | <a href="#">Privacy Policy</a></p>
    </div>
</footer>
<!-- End Footer -->
