{% extends "core/base.html" %}

{% load static %}

{% block content %}

<!--Banner-->
<section class="banner">
    <video class="banner-video" autoplay muted loop>
        <source src="{% static 'core/custom/video/banner_v3.mp4' %}" type="video/mp4">
        Tu navegador no soporta videos HTML5.
    </video>
    <div class="banner-content">
        <h1 class="banner-title">Viral sequencing platform and monitoring of variant evolution</h1>
    </div>
</section>

<!-- Proyect description -->
<div id="description" class="container description-banner" data-aos="fade-up" data-aos-delay="200">
    <div class="row">
        <div class="col-lg-8">
            <div class="logo mb-3">
                <img src="{% static 'core/custom/img/relecov_logo_old.png' %}" alt="Logo Relecov" style="height: 200px;">
            </div>
            <p>The project, “Consolidation of WGS and RT-PCR activities for SARS-CoV-2 in Spain towards sustainable use
                and integration of enhanced infrastructure and processes in the RELECOV network, RELECOV 2.0”, will take
                place from July 2023, to June 2025. It aims to conduct genomic surveillance of SARS-CoV-2, expanding to
                other respiratory viral infections, to create synergies that contribute to a rapid public health
                response to future health threats.
            </p>
            <p>
                In RELECOV 2.0, the focus will be the identification of circulating Variants of Concern (VOC), lineages,
                and sub-lineages of SARS-CoV-2, as well as the identification of new emerging lineages and sub-lineages.
                As the project's primary objective, it aims to apply Whole Genome Sequencing (WGS) tools to genomic
                surveillance of SARS-CoV-2 and extend genomic surveillance to other respiratory viral infections, such
                as seasonal influenza or Respiratory Syncytial Virus (RSV), through the establishment of a national
                structure that enhances the expertise of RELECOV Network members. A second objective of the project
                would be the consolidation of the RELECOV-Platform, through appropriate protocols for managing genomic
                data, defining joint sequencing and analysis methodologies, including quality controls, and developing
                computational tools for the automation of analysis, visualization, and sharing of genomic data with
                international databases.
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <img src="{% static 'core/custom/img/Description.jpg' %}" alt="Relecov Imagen"
                style="width: 100%; border-radius: 10px;">
        </div>
    </div>
</div>

<!-- Cards section -->
<div class="info" data-aos="fade-up" data-aos-delay="150">
    <div class="info-title">
        <h2>Relecov 2.0</h2>
    </div>
    <div class="info-section">
        <div class="info-item">
            <div class="info-content">
                <i class="bi bi-file-earmark-text-fill"></i>
                <h2><div class="value" akhi="{{ data.number_of_samples.Defined|default:0 }}">0</div></h2>
                <p>Received Samples</p>
            </div>
        </div>
        <div class="info-item">
            <div class="info-content">
                <i class="bi bi-clipboard-data-fill"></i>
                <h2><div class="value" akhi="{{ data.number_of_samples.Bioinfo|default:0  }}">0</div></h2>
                <p>Analysis Performed</p>
            </div>
        </div>
        <div class="info-item">
            <div class="info-content">
                <i class="bi bi-cloud-upload-fill"></i>
                <h2><div class="value" akhi="{{ data.number_of_samples.Gisaid|default:0 }}">0</div></h2>
                <p>Uploads to GISAID</p>
            </div>
        </div>
        <div class="info-item">
            <div class="info-content">
                <i class="bi bi-file-earmark-arrow-up-fill"></i>
                <h2><div class="value" akhi="{{ data.number_of_samples.Ena|default:0  }}">0</div></h2>
                <p>Uploads to ENA</p>
            </div>
        </div>
        <div class="blob"></div>
    </div>
</div>

<!-- Tools -->
<div id="customCarousel" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
    <!-- Indicadores -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#customCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <!-- Contenido del Slider -->
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="container" data-aos="fade-up" data-aos-delay="150">
                <div class="text-content">
                    <h1>Data Browser</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ipsam animi nemo, architecto maiores neque debitis repellendus sit similique?</p>
                    <div>
                        <button href="" id="predict-button" class="predict-more">
                            <span class="circle">
                                <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Learn more</span>
                        </button>
                    </div>
                </div>
                <div class="image-content">
                    <img src="{% static 'core/custom/img/data_browser.png' %}" alt="Data Browser">
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="container" data-aos="fade-up" data-aos-delay="150">
                <div class="text-content">
                    <h1>Data Browser</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ipsam animi nemo, architecto maiores neque debitis repellendus sit similique?</p>
                    <div>
                        <button href="" id="predict-button" class="predict-more">
                            <span class="circle">
                                <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Learn more</span>
                        </button>
                    </div>
                </div>
                <div class="image-content">
                    <img src="{% static 'core/custom/img/data_browser.png' %}" alt="Data Browser">
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="container" data-aos="fade-up" data-aos-delay="150">
                <div class="text-content">
                    <h1>Data Browser</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ipsam animi nemo, architecto maiores neque debitis repellendus sit similique?</p>
                    <div>
                        <button href="" id="predict-button" class="predict-more">
                            <span class="circle">
                                <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Learn more</span>
                        </button>
                    </div>
                </div>
                <div class="image-content">
                    <img src="{% static 'core/custom/img/data_browser.png' %}" alt="Data Browser">
                </div>
            </div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item">
            <div class="container" data-aos="fade-up" data-aos-delay="150">
                <div class="text-content">
                    <h1>Data Browser</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim ipsam animi nemo, architecto maiores neque debitis repellendus sit similique?</p>
                    <div>
                        <button href="" id="predict-button" class="predict-more">
                            <span class="circle">
                                <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Learn more</span>
                        </button>
                    </div>
                </div>
                <div class="image-content">
                    <img src="{% static 'core/custom/img/data_browser.png' %}" alt="Data Browser">
                </div>
            </div>
        </div>
    </div>

    <!-- Controles de navegación -->
    <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#customCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<script src="{% static 'core/custom/js/index_functions.js' %}"></script>




{% endblock %}