{% extends "core/base.html" %}
{% load plotly_dash %}
{% load static %}

{% block content %}

{% include "core/cdnTableFunctionality.html" %}
{% include "core/sideMenuFuncionality.html" %}
<section class="hero-animated d-flex">
    <div class="container position-relative">
        <div id="wrapper">
            {% include "core/intranetSideBar.html" %}
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <div class="container-fluid">
                        <div class="row" style="text-align: center">
                            <h1>SAMPLE INFORMATION</h1>
                        </div>
                        <hr>
                        <div class="row justify-content-center">
                            {% if errors %}
                                <div class="col-sm-10">
                                    <div class="card border-danger mb-3">
                                        <div class="card-header text-center text-danger">
                                            <h3 style="text-align:center">Unable to display Sample information</h3>
                                        </div>
                                        <div class="card-body text-center">
                                            <br>
                                            <ul>
                                                {% for err in errors %}
                                                    <li><strong>{{ err }}</strong></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% elif data %}
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="basic-tab" data-bs-toggle="tab" data-bs-target="#basic" type="button" role="tab" aria-controls="basic" aria-selected="true">Basic Data</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="database-tab" data-bs-toggle="tab" data-bs-target="#database" type="button" role="tab" aria-controls="database" aria-selected="false">Public Databases</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="analysis-tab" data-bs-toggle="tab" data-bs-target="#analysis" type="button" role="tab" aria-controls="analysis" aria-selected="false">Analysis</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="lineage-tab" data-bs-toggle="tab" data-bs-target="#lineage" type="button" role="tab" aria-controls="lineage" aria-selected="false">Lineage</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="variant-tab" data-bs-toggle="tab" data-bs-target="#variant" type="button" role="tab" aria-controls="variant" aria-selected="false">Variant</button>
                                    </li>
                                    {% if data.graphic %}
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="graphic-tab" data-bs-toggle="tab" data-bs-target="#graphic" type="button" role="tab" aria-controls="graphic" aria-selected="false">Graphic</button>
                                        </li>
                                    {% endif %}
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <!-- Basic Data Tab -->
                                    <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
                                        <div class="container-md">
                                            <div class="row mt-4">
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="card-header text-center"><h3>Sample Info</h3></div>
                                                        <div class="card-body text-center">
                                                            <table class="table table-striped table-bordered">
                                                                <tbody>
                                                                    <tr><th>ID</th><td>{{ data.id }}</td></tr>
                                                                    <tr><th>Sample Unique ID</th><td>{{ data.sample_unique_id }}</td></tr>
                                                                    <tr><th>Sequencing Sample ID</th><td>{{ data.sequencing_sample_id }}</td></tr>
                                                                    <tr><th>Created At</th><td>{{ data.created_at }}</td></tr>
                                                                    <tr><th>State</th><td>{{ data.state }}</td></tr>
                                                                    <tr><th>User</th><td>{{ data.user }}</td></tr>
                                                                    <tr><th>Lab</th><td>{{ data.lab }}</td></tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="card-header text-center"><h3>Actions</h3></div>
                                                        <div class="card-body text-center">
                                                            <table class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th>State</th>
                                                                        <th>Date</th>
                                                                        <th>Current</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for action in data.actions %}
                                                                        <tr>
                                                                            <td>{{ action.state }}</td>
                                                                            <td>{{ action.date }}</td>
                                                                            <td>
                                                                                {% if action.is_current %}
                                                                                    <span class="badge bg-success">Current</span>
                                                                                {% else %}
                                                                                    <span class="badge bg-secondary">Past</span>
                                                                                {% endif %}
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Public Databases Tab -->
                                    <div class="tab-pane fade" id="database" role="tabpanel" aria-labelledby="database-tab">
                                        <div class="container-md">
                                            <div class="row mt-4">
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="card-header"><h3>GISAID</h3></div>
                                                        <div class="card-body text-center">
                                                            {% if data.gisaid and data.gisaid|length > 0 %}
                                                                <table class="table table-striped table-bordered">
                                                                    <tbody>
                                                                        {% for item in data.gisaid %}
                                                                            <tr>
                                                                                <th>{{ item.label }}</th>
                                                                                <td>{{ item.value|default:"Not Available" }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            {% else %}
                                                                <h5>No GISAID information for this sample</h5>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="card-header"><h3>ENA</h3></div>
                                                        <div class="card-body text-center">
                                                            {% if data.ena and data.ena|length > 0 %}
                                                                <table class="table table-striped table-bordered">
                                                                    <tbody>
                                                                        {% for item in data.ena %}
                                                                            <tr>
                                                                                <th>{{ item.label }}</th>
                                                                                <td>{{ item.value|default:"Not Available" }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            {% else %}
                                                                <h5>No ENA information for this sample</h5>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Analysis Tab -->
                                    <div class="tab-pane fade" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
                                        <div class="container-md">
                                            <div class="row mt-4">
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-header"><h3>Bioinfo Analysis</h3></div>
                                                        <div class="card-body text-center">
                                                            {% if data.bioinfo and data.bioinfo|length > 0 %}
                                                                <table class="table table-striped table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Label</th>
                                                                            <th>Value</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for item in data.bioinfo %}
                                                                            <tr>
                                                                                <td>{{ item.label }}</td>
                                                                                <td>{{ item.value }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            {% else %}
                                                                <h5>No bioinfo analysis data available</h5>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Lineage Tab -->
                                    <div class="tab-pane fade" id="lineage" role="tabpanel" aria-labelledby="lineage-tab">
                                        <div class="container-md">
                                            <div class="row mt-4">
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-header"><h3>Lineage</h3></div>
                                                        <div class="card-body text-center">
                                                            {% if data.lineage and data.lineage|length > 0 %}
                                                                <table class="table table-striped table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Label</th>
                                                                            <th>Value</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for item in data.lineage %}
                                                                            <tr>
                                                                                <td>{{ item.label }}</td>
                                                                                <td>{{ item.value }}</td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            {% else %}
                                                                <h5>No lineage data available</h5>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Variant Tab -->
                                    <div class="tab-pane fade" id="variant" role="tabpanel" aria-labelledby="variant-tab">
                                        <div class="container-md">
                                            <div class="row mt-4">
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-header"><h3>Variant</h3></div>
                                                        <div class="card-body text-center">
                                                            {% if data.variant.0.heading and data.variant.1 %}
                                                                <div class="table-responsive">
                                                                    <table class="table table-striped table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                {% for col in data.variant.0.heading %}
                                                                                    <th>{{ col }}</th>
                                                                                {% endfor %}
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for row in data.variant.1 %}
                                                                                <tr>
                                                                                    {% for value in row %}
                                                                                        <td>{{ value }}</td>
                                                                                    {% endfor %}
                                                                                </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            {% else %}
                                                                <h5>No variant data available</h5>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Graphic Tab -->
                                    {% if data.graphic %}
                                        <div class="tab-pane fade" id="graphic" role="tabpanel" aria-labelledby="graphic-tab">
                                            <div class="container-md">
                                                <div class="row mt-4">
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header"><h3>Variant Graphic</h3></div>
                                                            <div class="card-body text-center">
                                                                {% plotly_app name="sampleVariantGraphic" ratio=1.0 %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}