{% extends "relecov_core/base.html" %}

{% load static %}

{% block content %}
{% if form.errors %}
    <section id="relecov-platform" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card border-danger mb-3">
                            <h4 class="card-title text-danger" >Your userid and/or password are incorrect</h4>
                            <div class="card-body">
                                <p> Please enter your credentials again to login</p>
                            </div>  <!-- end card-body -->
                        </div>  <!-- end card -->
                    </div> <!-- end col-md-6 -->
                </div> <!-- end row -->
            </div>
        </div>
    </section>
{% else %}
<section id="relecov-platform" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">

{% endif %}

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">LOGIN</h3>
                            <p class="card-title"> Write your credentials to access to relecov Platform Intranet</p>
                            <form class="row g-3"  method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" name="username" placeholder="userid">
                                    <label for="floatingInput">Type your userid</label>
                                </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <div class="col-end">
                                    <button type="submit" class="btn btn-outline-primary mb-3 float-end">Submit credentials</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if not form.errors %}
    </div>
</section>
        {% endif %}

{% endblock %}
