{% extends "core/base.html" %}
{% load static %}


{% block content %}

<div class="browse-data-page">
    <!-- Browse Data Content -->
    <div class="banner-browser">
        <h2>Dive into the Data</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, repellat. Qui similique libero dolorum ut facere, quia velit animi, corporis culpa hic necessitatibus eum consequuntur voluptates aut mollitia commodi quasi.</p>
        <p>The Data Browser is open to the public. No account or authorization is required.</p>
        <h2>Search Across Data Types</h2>
        <div class="search-container">
            <input type="text" placeholder="Keyword Search">
            <button class="close-btn">✖</button>
        </div>
        <button class="faq-btn">FAQ</button>
        <p class="data-info">Data includes 633,540 participants as of 10/1/2023.</p>
    </div>

    <div class="container-browser">

        <section class="data-section">
            <h2>Electronic Health Records (EHR)</h2>
            <div class="card-grid" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <h3>Conditions</h3>
                    <p class="value">28,475</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">354,400 participants</p>
                    <a href="#">View Conditions</a>
                </div>
                <div class="card">
                    <h3>Drug Exposures</h3>
                    <p class="value">33,233</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">334,180 participants</p>
                    <a href="#">View Drug Exposures</a>
                </div>
                <div class="card">
                    <h3>Labs & Measurements</h3>
                    <p class="value">22,457</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">356,320 participants</p>
                    <a href="#">View Labs & Measurements</a>
                </div>
                <div class="card">
                    <h3>Procedures</h3>
                    <p class="value">34,220</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">332,320 participants</p>
                    <a href="#">View Procedures</a>
                </div>
            </div>
        </section>

        <section class="data-section">
            <h2>Genomics</h2>
            <div class="card-grid" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <h3>Conditions</h3>
                    <p class="value">28,475</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">354,400 participants</p>
                    <a href="#">View Conditions</a>
                </div>
                <div class="card">
                    <h3>Drug Exposures</h3>
                    <p class="value">33,233</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">334,180 participants</p>
                    <a href="#">View Drug Exposures</a>
                </div>
                <div class="card">
                    <h3>Labs & Measurements</h3>
                    <p class="value">22,457</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">356,320 participants</p>
                    <a href="#">View Labs & Measurements</a>
                </div>
                <div class="card">
                    <h3>Procedures</h3>
                    <p class="value">34,220</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">332,320 participants</p>
                    <a href="#">View Procedures</a>
                </div>
            </div>
        </section>

        <section class="data-section" style="margin-bottom: 200px;">
            <h2>Measurements & Wearables</h2>
            <div class="card-grid" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <h3>Conditions</h3>
                    <p class="value">28,475</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">354,400 participants</p>
                    <a href="#">View Conditions</a>
                </div>
                <div class="card">
                    <h3>Drug Exposures</h3>
                    <p class="value">33,233</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">334,180 participants</p>
                    <a href="#">View Drug Exposures</a>
                </div>
                <div class="card">
                    <h3>Labs & Measurements</h3>
                    <p class="value">22,457</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">356,320 participants</p>
                    <a href="#">View Labs & Measurements</a>
                </div>
                <div class="card">
                    <h3>Procedures</h3>
                    <p class="value">34,220</p>
                    <p class="subtext">medical concepts</p>
                    <p class="participants">332,320 participants</p>
                    <a href="#">View Procedures</a>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
