{% load static %}
<html>
    <head>
        <title>Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        

            <link rel="stylesheet" type="text/css" href="{% static 'dashboard/bootstrap.min.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'dashboard/bootstrap.min.css.map' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css' %}">
            
            <link rel="stylesheet" type="text/css" href="{% static 'dashboard/now-ui-dashboard.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'dashboard/now-ui-dashboard.css.map' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'dashboard/now-ui-dashboard.min.css' %}">

        <!-- Bootstrap -->
        <link href="{% static 'linkToDashboard/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{% static 'linkToDashboard/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <!-- NProgress -->
        <link href="{% static 'linkToDashboard/vendors/nprogress/nprogress.css' %}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{% static 'linkToDashboard/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
      
        <!-- bootstrap-progressbar -->
        <link href="{% static 'linkToDashboard/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
        <!-- JQVMap -->
        <link href="{% static 'linkToDashboard/vendors/jqvmap/dist/jqvmap.min.css'%}" rel="stylesheet"/>
        <!-- bootstrap-daterangepicker -->
        <link href="{% static 'linkToDashboard/vendors/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="{% static 'linkToDashboard/build/css/custom.min.css' %}" rel="stylesheet">
  
            


    </head>
    <body>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a7d19c;">
            <div class="container-fluid" style="text-align: right;">
              <a class="navbar-brand me-auto" href="#">Logo</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-1">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Variants</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link" href="#">Methods</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Users
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Sign in</a></li>
                      <li><a class="dropdown-item" href="#">Log in</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">another action?</a></li>
                    </ul>
                  </li>
                 </ul>
                </div>
            </div>
          </nav>
          <!--end Navbar-->
          <!--Banner-->
          <div class="container-fluid">Banner
            <img src="{% static 'images/virus.jpg' %}" class="image-banner" alt="image">
          </div>  
          <!--end Banner-->

        {% block content %}{% endblock %}

        <!--Footer-->
        <footer class="container-fluid bg-dark ">
          <div>  logos 
             <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">ISCIII</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">ELOC</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Union Europea</a>
                </li>
                
              </ul>
            </div>
            <div>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">www.wordpress.isciii.com</a>
                    </li>
                    
                  </ul>
            </div>

        </footer>
        <!--end Footer-->        
    </body>
</html>
