<!-- ======= Footer ======= -->
{% load static %}
 <footer id="footer" class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Relecov Platform</h3>
                        <p class=" text-black">Powered by:</p>
                        <img src="{% static 'relecov_core/img/logo_bu_isciii.png' %}" class="card-img" alt="banner relecov-platform" style="width:33%;">
                        <p class=" text-black">Source code is available at <a href="https://github.com/BU-ISCIII/relecov-platform">Github</a></p>
                    </div>
                    <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                      <p style="font-size:250%;">
                        <a href="https://github.com/BU-ISCIII/relecov-platform" ><i class="bi bi-github"></i></a>
                        <a href="https://join.slack.com/t/relecov/shared_invite/zt-16pxnynsl-ekOuDfbfGFh1JEghEQm6OA" ><i class="bi bi-slack"></i></a>
                        <a href="https://twitter.com/SaludISCIII" ><i class="bi bi-twitter ms-2"></i></a>
                      </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h3>Who We Are</h3>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="https://www.relecov.isciiides.es">About Us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="http://relecov.isciiides.es/contributors">Contributors</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h3>Related Links</h3>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="https://www.isciii.es">ISCIII</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="http://relecov.isciiides.es/">Wordpress</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="https://www.gisaid.org">GISAID</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="https://www.covid19dataportal.org/">Covid Data Portal</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h3></h3>
                    <img src="{% static 'images/LogoISCIII.png' %}" class="card-img" alt="banner relecov-platform" style="width: 100%;">
                    <br><br>
                    <div class="card d-inline ms-4">
                        <img src="{% static 'relecov_core/img/logoECDC.png' %}" class="card-img" alt="banner relecov-platform" style="width:80px;">
                        <img src="{% static 'relecov_core/img/logo_UE.jpg' %}" class="card-img" alt="logo UE" style="width:100px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
 </footer><!-- End Footer -->
