{% extends "relecov_core/base.html" %}

{% load static %}

{% block content %}

<!--Banner-->
<section id="relecov-platform" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
        <section>
            <div class="container-fluid position-relative overflow-hidden">
                <div class="row text-white">
                    <div class="col-12">
                        <div class="card-img-overlay">
                            <img src="{% static 'relecov_core/custom/img/virus_crop.jpg' %}" class="card-img" alt="relecov platform" style="z-index:0;">
                        </div> <!--end card image-->
                        <p class="position-relative p-2 text-white text-center fs-1"  style="z-index:1000;">Relecov Platform</p>
                        <p class="position-relative p-2 text-white text-center fs-3" style="z-index:1000">Platform for viral sequencing and variants evolution monitoring in the context of the Spanish Network for genomics surveillance of SARS-Cov-2</p>
                    </div><!--end col-->
                </div> <!--end row-->
            </div> <!--end container-->
        </section>
        <!--end Banner-->
        <section>
            <div class="container-fluid overflow-hidden pt-4">
                <div class="row gy-2">
                    <div class="col-xl-3 col-md-6">
                        <div class="p-3 border bg-light"><h4>Received Samples</h4>
                        <h2><div class="value" akhi="{{ number_of_samples.Defined }}">0</div></h2>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="p-3 border bg-light"><h4>Analysis Performed</h4>
                        <h2><div class="value" akhi="{{ number_of_samples.Bioinfo }}">0</div></h2>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="p-3 border bg-light"><h4>Uploads to GISAID</h4>
                        <h2><div class="value" akhi="{{ number_of_samples.Gisaid }}">0</div></h2>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="p-3 border bg-light"><h4 style="padding-bottom: 29px;">Uploads to  ENA</h4>
                        <h2><div class="value" akhi="{{ number_of_samples.Ena }}">0</div></h2>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pb-5">
            <div id="featured-services" class="featured-services container-fluid overflow-hidden pt-4">
                <div class="row gy-2">
                    <div class="col-xl-3 col-md-6" data-aos="zoom-out">
                        <div class="service-item border position-relative">
                            <a href="/dashboard/variants" class="">
                                <div class="icon"><i class="bi bi-activity icon"></i></div>
                                <h4>Variants</h4>
                                <p>Go to Variants Dashboard</p>
                            </a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item border position-relative">
                            <a href="/dashboard/methodology" class="stretched-link">
                                <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                                <h4>Methodology</h4>
                                <p>Go to Methodology Dashboard</p>
                            </a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6" data-aos="zoom-out" data-aos-delay="400">
                        <div class="service-item border position-relative">
                            <a href="/documentation" class="stretched-link">
                                <div class="icon"><i class="bi bi-folder icon"></i></div>
                                <h4>Documentation</h4>
                                <p>Go to Documentation</p>
                            </a>
                        </div>
                    </div><!-- End Service Item -->
                    <div class="col-xl-3 col-md-6" data-aos="zoom-out" data-aos-delay="600">
                        <div class="service-item border position-relative">
                            <a href="{{nextstrain_url}}" target="_blank" class="stretched-link">
                                <div class="icon"><i class="bi bi-dribbble"></i></div>
                                <h4>Nextstrain</h4>
                                <p>Go to Nextstrain</p>
                            </a>
                        </div>
                    </div><!-- End Service Item -->
                </div>
            </div>
        </section>
    </div>
    <!-- ======= Services Section ======= -->
        <script src="{% static 'relecov_core/custom/js/index_functions.js' %}"></script>
</section>
{% endblock %}
