<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/intranet">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-menu-button-wide"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Intranet</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/metadataForm">
            <i class="bi bi-upload"></i>
            <span>Upload Metadata</span></a>
    </li>
    <br>
    <li class="nav-item active">
        <a class="nav-link" href="/laboratoryContact">
            <i class="bi bi-person-lines-fill"></i>
            <span>Contact data</span></a>
    </li>
    <br>
    <li class="nav-item active">
        <a class="nav-link" href="/searchSample">
            <i class="bi bi-search"></i>
            <span>Samples search</span></a>
    </li>
    <br>
    <li class="nav-item active">
        <a class="nav-link" href="/receivedSamples">
            <i class="bi bi-menu-button-wide"></i>
            <span>Received samples</span></a>
    </li>
    <br>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>

    </div>
    <br>
</ul>
