
<!--{% load static%}-->
<!--JExcel cdn-->
<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
<script src="https://jsuites.net/v4/jsuites.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
<!--load JExcel CSS-->
<!--
<link href="{% static 'forms/css/jspreadsheet.css' %}" rel="stylesheet">
<link href="{% static 'forms/css/jspreadsheet.datatables.css' %}" rel="stylesheet">
<link href="{% static 'forms/css/jspreadsheet.theme.css' %}" rel="stylesheet">
-->
<!--load JExcel JS-->
<!--<script href="{% static 'forms/js/index.js'%}"></script>-->

