{% extends "relecov_core/base.html" %}
{% load static %}

{% block content %}
{% include "relecov_core/intranetSidebar.html" %}
{% include "relecov_core/cdn_table_functionality.html" %}
<br><br>
<section style="margin-top: 4%">
    <div class="container d-flex flex-column text-center position-relative" style="width:60%">
        {% if ERROR %}
            <div class="card d-inline-flex flex-column w-auto p-5 border border-danger" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">Unable to display Sample information</h2>
                    <p class="card-text">{{ERROR}}</p>
                </div>
            </div>
        {% else %}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#basic" type="button" role="tab" aria-controls="basic" aria-selected="true">Basic Data</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#database" type="button" role="tab" aria-controls="database" aria-selected="false">Upload Databases</button>
               </li>
               <li class="nav-item" role="presentation">
                   <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#iskylims" type="button" role="tab" aria-controls="iskylims" aria-selected="false">iSkyLIMS data</button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#analysis" type="button" role="tab" aria-controls="analysis" aria-selected="false">Analysis Information</button>
             </li>
             <li class="nav-item" role="presentation">
                 <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#lineage" type="button" role="tab" aria-controls="analysis" aria-selected="false">Lineage Information</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#variant" type="button" role="tab" aria-controls="analysis" aria-selected="false">Variant Information</button>
           </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="info-tab">
                   <div class="container-md">
                       <div class="row mt-4">
                           <div class="col-md-7">
                                <div class="card">
                                    <div class="card-header text-center"><h3 style="text-align:center">IDs defined for the sample</h3> </div>
                                    <div class="card-body  text-center">
                                        <table id="f_sample" class="table table-striped table-bordered">
                                            <thead>
                                                <tr scope="row">
                                                    <th>Field Name</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for name, value in sample_data.basic %}
                                                    <tr>
                                                        <td>{{name}}</td>
                                                        <td>{{value}}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>     <!-- end card body  -->
                                </div> <!-- end card  -->
                            </div> <!-- end col-md-7 -->
                            <div class="col-md-5">
                                 <div class="card">
                                     <div class="card-header text-center"><h3 style="text-align:center">Actions done on sample</h3> </div>
                                     <div class="card-body  text-center">
                                         <table id="f_sample" class="table table-striped table-bordered">
                                             <thead>
                                                 <tr scope="row">
                                                     <th>Action</th>
                                                     <th>Date</th>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                                 {% for name, value in sample_data.actions %}
                                                     <tr>
                                                         <td>{{name}}</td>
                                                         <td>{{value}}</td>
                                                     </tr>
                                                 {% endfor %}
                                             </tbody>
                                         </table>
                                     </div>     <!-- end card body  -->
                                 </div> <!-- end card  -->
                             </div> <!-- end col-md-10 -->
                        </div> <!-- end row-->
                        <div class="row mt-4">
                            <div class="col-md-12">
                                 <div class="card">
                                     <div class="card-header text-center"><h3 style="text-align:center">Fastq information for the sample</h3> </div>
                                     <div class="card-body  text-center">
                                         <table id="f_sample" class="table table-striped table-bordered">
                                             <thead>
                                                 <tr scope="row">
                                                     <th>Field Name</th>
                                                     <th>Value</th>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                                    {% for name, value in sample_data.fastq %}
                                                        <tr>
                                                            <td>{{name}}</td>
                                                            <td>
                                                                {% if value == None %}
                                                                    Not Provided
                                                                {% else %}
                                                                    {{value}}
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                     {% endfor %}
                                             </tbody>
                                         </table>
                                     </div>     <!-- end card body  -->
                                 </div> <!-- end card  -->
                             </div> <!-- end col-md-10 -->
                         </div> <!-- end row-->
                    </div> <!-- end continer-->
                </div>  <!-- end tab basic -->

                <div class="tab-pane fade" id="database" role="tabpanel" aria-labelledby="grupo-tab">
                    <div class="container-md">
                        <div class="row mt-5">
                            <div class="col-md-10">
                                <div class="card">
                                    <div class="card-header"><h3 style="text-align:center">GISAID information</h3> </div>
                                    <div class="card-body  text-center">
                                        {% if sample_data.gisaid %}
                                            <table id="f_sample" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr scope="row">
                                                        <th>Field Name</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                       {% for name, value in sample_data.gisaid %}
                                                           <tr>
                                                               <td>{{name}}</td>
                                                               <td>
                                                                   {% if value == None %}
                                                                       Not Available
                                                                   {% else %}
                                                                       {{value}}
                                                                   {% endif %}
                                                               </td>
                                                           </tr>
                                                        {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <h5>There is no GISAID information for this sample</h5>
                                        {% endif %}
                                    </div>     <!-- end card body  -->
                                </div> <!-- end card  -->
                            </div> <!-- end col-md-8 -->
                        </div> <!-- end row-->
                        <div class="row mt-5">
                            <div class="col-md-10">
                                <div class="card">
                                    <div class="card-header"><h3 style="text-align:center">ENA information</h3> </div>
                                    <div class="card-body  text-center">
                                        {% if sample_data.ena %}
                                            <table id="f_sample" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr scope="row">
                                                        <th>Field Name</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                       {% for name, value in sample_data.ena %}
                                                           <tr>
                                                               <td>{{name}}</td>
                                                               <td>
                                                                   {% if value == None %}
                                                                       Not Available
                                                                   {% else %}
                                                                       {{value}}
                                                                   {% endif %}
                                                               </td>
                                                           </tr>
                                                        {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <h5>There is no ENA information for this sample</h5>
                                        {% endif %}
                                    </div>     <!-- end card body  -->
                                </div> <!-- end card  -->
                            </div> <!-- end col-md-8 -->
                        </div> <!-- end row-->
                    </div> <!-- end continer-->
                </div>  <!-- end tab database -->
                <div class="tab-pane fade" id="iskylims" role="tabpanel" aria-labelledby="grupo-tab">
                    <div class="container-md">
                        <div class="row mt-5">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"><h3 style="text-align:center">iSkyLIMS information</h3> </div>
                                    <div class="card-body  text-center">
                                        {% if sample_data.iskylims_basic %}
                                            <table id="f_sample" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr scope="row">
                                                        <th>Field Name</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                       {% for name, value in sample_data.iskylims_basic %}
                                                           <tr>
                                                               <td>{{name}}</td>
                                                               <td>
                                                                   {% if value == None %}
                                                                       Not Available
                                                                   {% else %}
                                                                       {{value}}
                                                                   {% endif %}
                                                               </td>
                                                           </tr>
                                                        {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <h5>There is not available information for this sample</h5>
                                        {% endif %}
                                    </div>     <!-- end card body  -->
                                </div> <!-- end card  -->
                            </div> <!-- end col-md-8 -->
                        </div> <!-- end row-->
                        <div class="row mt-4">
                            <div class="col-md-12">
                                 <div class="card">
                                     <div class="card-header text-center"><h3 style="text-align:center">{{sample_data.iskylims_project}} project data</h3> </div>
                                     <div class="card-body  text-center">
                                         <table id="i_project" class="table table-striped table-bordered">
                                             <thead>
                                                 <tr scope="row">
                                                     <th>Label name</th>
                                                     <th>Value</th>
                                                 </tr>
                                             </thead>
                                             <tbody>
                                                 {% for label, value in sample_data.iskylims_p_data %}
                                                     <tr>
                                                         <td>{{label}}</td>
                                                         <td>{{value}}</td>
                                                     </tr>
                                                 {% endfor %}
                                             </tbody>
                                         </table>
                                     </div>     <!-- end card body  -->
                                 </div> <!-- end card  -->
                             </div> <!-- end col-md-10 -->
                         </div> <!-- end row-->
                    </div> <!-- end continer-->
                </div>  <!-- end tab database -->
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#i_project').DataTable({
                            responsive: true,
                        });
                    });
                </script>
                <div class="tab-pane fade" id="analysis" role="tabpanel" aria-labelledby="grupo-tab">
                    <div class="container-md">
                        <div class="row mt-5">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"><h3 style="text-align:center">Bio Info Analysis information</h3> </div>
                                    <div class="card-body  text-center">
                                        {% if sample_data.bioinfo %}
                                            <table id="bio_data" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr scope="row">
                                                        <th>Label name</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for label, value in sample_data.bioinfo %}
                                                        <tr>
                                                            <td>{{label}}</td>
                                                            <td>{{value}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <h5>Not Available information </h5>
                                        {% endif %}
                                    </div>     <!-- end card body  -->
                                </div> <!-- end card  -->
                            </div> <!-- end col-md-12 -->
                        </div> <!-- end row-->
                    </div> <!-- end continer-->
                </div>  <!-- end tab database -->
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#bio_data').DataTable({
                            responsive: true,
                        });
                   });
                </script>
                <div class="tab-pane fade" id="lineage" role="tabpanel" aria-labelledby="grupo-tab">
                    <div class="container-md">
                        <div class="row mt-5">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"><h3 style="text-align:center">Lineage Analysis information</h3> </div>
                                    <div class="card-body  text-center">
                                        {% if sample_data.lineage %}
                                            <table id="lineage_data" class="table table-striped table-bordered">
                                                <thead>
                                                    <tr scope="row">
                                                        <th>Label name</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for label, value in sample_data.lineage %}
                                                        <tr>
                                                            <td>{{label}}</td>
                                                            <td>{{value}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <h5>Not Available information </h5>
                                        {% endif %}
                                    </div>     <!-- end card body  -->
                                </div> <!-- end card  -->
                            </div> <!-- end col-md-12 -->
                        </div> <!-- end row-->
                    </div> <!-- end continer-->
                </div>  <!-- end tab database -->
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#lineage_data').DataTable({
                            responsive: true,
                        });
                   });
                </script>

            </div>  <!-- end myTabContent -->
        {% endif %}
    </div>  <!-- end container -->
</section>

{% endblock %}
