{% extends "relecov_core/base.html" %}

{% load static %}

{% block content %}
{% include "relecov_core/intranetSidebar.html" %}
<br><br>
<section style="margin-top: 4%">
    <div class="container d-flex flex-column text-center position-relative" style="width:60%">
        {% if list_display %}
            <div class="card d-inline-flex flex-column w-auto p-5 border border-success" style="width: 18rem;">
                <div class="card-body">
                <h2 class="card-title">Search sample</h2>
                <p class="card-text">Some steps to upload your metadata.</p>
                <a href="/" class="btn btn-primary mt-5">Home</a>
                </div>
            </div>
        {% else %}
            {% if no_samples %}
                <div class="card d-inline-flex flex-column w-auto p-5 border border-warning" style="width: 18rem;">
                    <div class="card-body">

                    </div>
                </div>
            {% else %}
            {% load user_groups %}
                <div class="card d-inline-flex flex-column w-auto p-5 border border-success" style="width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title">Search sample</h2>
                        <br><br>
                        <form method="post" enctype="multipart/form-data" name="searchSample"  id="searchSample" class="form-horizontal well" style="min-height: 100px;">
                            <div class="card-body">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="searchSample">
                                <div class="row mb-3">
                                    <label for="sampleState" class="col-sm-4 col-form-label">Sample State</label>
                                     <div class="col-sm-7">
                                        <select name="sampleState" id="sampleState" class="form-select">
                                        	<option value="">Choose a value</option>
                                            {% for value in search_data.s_state %}
                                                <option value="{{value}}">{{value}}</option>
                                            {% endfor %}
                                        </select>
                                   </div>  <!-- end select input -->
                                </div>  <!-- end from-group   -->

                                <div class="row mb-3">
                                    <label for="sampleName" class="col-sm-4 col-form-label">Search by Name</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" type="text" required id="sampleName", name="sampleName"  placeholder="Search by Name">
                                    </div>  <!-- end text input -->
                                </div>
                                <br><br>
                                <div class="row mb-3">
                                    <label class="col-sm-4 control-label" for="sDate" >Sample defined Date</label>
                                    <div class="col-sm-7">
                                        <input class="form-control" type="date" name="sDate" id="sDate"></div>
                                   <br>
                                </div>  <!-- end from-group   -->
                                <br>
                                <br>

                                <div class="row mb-3">

                                    {% if request.user|has_group:"WetlabManager" %}
                                    <label for="username" >Search from user name</label>
                                       <div class="col-sm-5"><input class="form-control" type="text" name="username" id="username" size="100" maxlength="100"></div>
                                    {% else %}

                                        <label class="col-sm-8 col-form-label col-form-label-lg text-info" for="username" >Samples are filtered by user {{user.get_username}} </label>
                                        <input type="hidden" name="username" value="{{user.get_username}}">

                                    {% endif %}
                                </div>  <!-- end from-group   -->
                                <br>
                                <br>
                                <div class="card-body">
                                    <div class="text-left">
                                        <input class="btn  btn-outline-secondary" type="reset" value="Reset Fields">
                                        <input class="btn float-end btn-outline-primary" type="submit" id="btnSubmit" value="Submit">

                                    </div>
                                </div>     <!-- end card body  -->
                            </div>  <!-- end card body   -->
                        </form>

                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</section>
{% endblock %}
